---
import MainLayout from "@/layouts/MainLayout.astro";
import Navbar from "@/components/base/Navbar.astro";
import HeroSection from "@/components/home/HeroSection.astro";
import ServicesSection from "@/components/home/ServicesSection.astro";
import AboutSection from "@/components/home/AboutSection.astro";
import BranchesSection from "@/components/home/BranchesSection.astro";
import TestimonialsSection from "@/components/home/TestimonialsSection.astro";
import CTASection from "@/components/home/CTASection.astro";
import Footer from "@/components/base/Footer.astro";
import InstagramSection from "@/components/home/InstagramSection.astro";

const title = "Laundry antar jemput gratis Sukabumi";
const description =
  "Amani Laundry adalah layanan laundry profesional di kota Sukabumi, hadir dengan layanan antar jemput gratis, harga terjangkau, dan hasil bersih maksimal. Pesan sekarang, selesai dalam 8 jam!";
---

<MainLayout title={title} description={description}>
  <Navbar currentPage="beranda" />
  <main>
    <HeroSection />
    <ServicesSection />
    <AboutSection />
    <BranchesSection />
    <TestimonialsSection />
    <!-- <InstagramSection /> -->
    <CTASection />
  </main>
  <Footer />
</MainLayout>
