---
import {Whatsapp} from "simple-icons-astro";
---

<div class="fixed bottom-14 right-10 z-60">
  <a
    href="https://wa.me/6285719273592"
    target="_blank"
    class="flex items-center justify-center size-16 bg-[#25d366] text-white rounded-full shadow-xl pulse-whatsapp hover:-translate-y-0.5 transition-all no-underline"
  >
    <Whatsapp class="size-8" />
  </a>
</div>
