---
import MainLayout from "@/layouts/MainLayout.astro";
import Navbar from "@/components/base/Navbar.astro";
import BlogList from "@/components/blog/BlogList.astro";
import Footer from "@/components/base/Footer.astro";

const title = "Tips & Artikel";
const description =
  "Temukan tips merawat pakaian, informasi layanan, dan promo menarik dari Amani Laundry.";
---

<MainLayout title={title} description={description}>
  <Navbar currentPage="blog" />
  <main>
    <header class="mt-8 pt-24 px-6 max-w-7xl mx-auto">
      <div class="text-center mb-16">
        <h1 class="text-4xl font-extrabold text-slate-800 mb-4">
          {title}
        </h1>
        <p class="text-lg text-slate-600 max-w-2xl mx-auto leading-relaxed">
          {description}
        </p>
      </div>
    </header>
    <section class="pb-24 px-6 max-w-7xl mx-auto">
      <BlogList />
    </section>
  </main>
  <Footer />
</MainLayout>
